.button1 {
    background-color: purple;
    color: aqua;
    border: 2px solid purple;
}

.button:hover {
    background-color: blueviolet;
    color: aqua;
}

table, th, td, tr {
    border: 1px solid black;
    border-collapse: collapse;
}